<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baas-V1.0.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
				<key>dateExpires</key>
				<string>2019/1/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Base64.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8897962B021E7ACC449E7B4AB77EFD36117D4FD6</string>
						<key>dateExpires</key>
						<string>2019/1/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3GSYP34F94</string>
						<key>name</key>
						<string>Hyperchain Technologies Co., Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3GSYP34F94.com.hyperchain.BaasFilock</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3GSYP34F94</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3GSYP34F94.com.hyperchain.BaasFilock</string>
				</array>
			</dict>
			<key>name</key>
			<string>飞洛客.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>204f78a7-349a-4d81-91f9-e22179bd36a5</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hyperchain.BaasFilock</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3GSYP34F94</string>
				<key>name</key>
				<string>Hyperchain Technologies Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
